<header class="bg-white shadow-md">
    <div class="mx-auto lg:max-w-6xl flex py-7 items-center justify-between">
        
            <h1 class="font-bold hover:cursor-pointer text-2xl leading-9">
                Where in the World?
            </h1>
            
            <div class="flex items-center gap-1 hover:cursor-pointer">
                <svg class="dark__mode-icon" width="20px" height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"
                    fill="#000000">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path fill="#000000"
                            d="M240.448 240.448a384 384 0 1 0 559.424 525.696 448 448 0 0 1-542.016-542.08 390.592 390.592 0 0 0-17.408 16.384zm181.056 362.048a384 384 0 0 0 525.632 16.384A448 448 0 1 1 405.056 76.8a384 384 0 0 0 16.448 525.696z">
                        </path>
                    </g>
                </svg>    
            Dark Mode
            </div>
    </div>
</header>