<header>
    <h1 class="text-3xl font-bold underline">
        Where in the World?
    </h1>
    <div>&LeftAngleBracket; Dark</div>
</header>

<div>
    <p>
        I’m Derek, an astro-engineer based in Tattooine. I like to build X-Wings at
        <a class="underline decoration-sky-500/30">My Company, Inc</a>.
        Outside of work, I like to <a class="underline decoration-pink-500/30">watch
            pod-racing</a> and have <a class="underline decoration-indigo-500/30">light-saber</a> fights.
    </p>
</div>

<p class="underline decoration-sky-600 hover:decoration-blue-400">
    Seasoned front-end Developer
</p>